@{
  Layout = "_Layout";
}
<h2>Add City</h2>
<br>
<div class="row">
  <div class="col-md-4">
    <form class="form-group" action="/cities" method="post">
      <label for="city-name">City name:</label>
      <select class="form-control" name="city-name">
        <option value="">Select city</option>
        <option value="Seattle">Seattle</option>
        <option value="Mexico City">Portland</option>
        <option value="Vancouver">Los Angeles</option>
        <option value="San Francisco">New York</option>
        <option value="New York">Miami</option>
        <option value="Chicago">Chicago</option>
      </select>
      <br>
      <label for="airline">Airline:</label>
      <select class="form-control" name="airline-name">
        <option value="">Select airline</option>
        <option value="United">United</option>
        <option value="Delta">Delta</option>
        <option value="Alaskan">Alaskan</option>
        <option value="Hawaiian">Hawaiian</option>
        <option value="JetBlue">JetBlue</option>
      </select>
      <br>
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>
  </div>
</div>

<h5><a href="/">Return to the home page</a></h5>
